body{
    background-color: aliceblue;
    height: 100%;
}
form{
    width: 30%;
    margin: auto;
    padding-top: 150px;
}
.bg{
    background-color: #c3b19a;
}
.btn-color{
    background-color: #997950;
    border: none;
}
.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

.dialog button {
    margin-top: 10px;
}

  